# autotools cruft
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
stamp-h1
autostuff/
ChangeLog
INSTALL

# recursive autoconf leftovers
Makefile
Makefile.in

# backup files
*~

# various sdcc related files
*.asm
*.ihx
*.lnk
*.lst
*.map
*.mem
*.rel
*.rst
*.sym
*.lib
*.fw
*.cdb
*.lk
*.omf
